<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lapis - {% block title %}{% endblock %}</title>

    {% load staticfiles %}

    {# Include neccessary Boostrap CSS files from static #}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/restbroker-core.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'docs/css/code/atom-one-dark.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/font-awesome-animation-min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/chartist/chartist.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/flag-icon-css/flag-icon.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    {# Include Google Font #}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    {# Font Awesome Icons #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    {# Set the favicon #}
    <link rel="shortcut icon" type="image/png" href="{% static 'core/images/lapis-favicon.png' %}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>
<body class="{% block background-color %}{% endblock %}">
    {% block content %}{% endblock content %}
</body>
<script src="{% static 'core/js/jquery-3.3.1.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'core/js/popper.min.js' %}"></script>
<script src="{% static 'core/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'core/js/restbroker-core.js' %}"></script>
<script src="{% static 'core/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'docs/js/code/highlight.pack.js' %}"></script>
<script src="{% static 'core/js/ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'core/js/ace/mode-javascript.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'core/js/chartist/chartist.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'core/js/chartjs/chart.bundle.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'core/js/typer/typer.js' %}" type="text/javascript" charset="utf-8"></script>


<script>hljs.initHighlightingOnLoad();</script>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
    $('[data-toggle="popover"]').on('click', function(){
        $('[data-toggle="popover"]').not(this).popover('hide');
    });
</script>
<script>
    $(document).ready(function() {
        $('#requests').DataTable({
            "order": [[3, "desc"]]
        });
    } );
    $('#delete-project-name-field').on('input', function() {
        if($('#delete-project-name-field').val() == '{{ project.name }}') {
            $('#delete-project-button').removeClass('disabled');
        } else {
            $('#delete-project-button').addClass('disabled');
        }
    });
</script>
{# Graph for requests to a Resource over 7 days #}



{% if requests_over_days %}
<script>
    var ctx = document.getElementById('requestsThisWeek').getContext('2d');

    var requestsThisWeekChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for request_for_day in requests_over_days %}'{{ request_for_day.date }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
            datasets: [{
                label: 'Requests',
                data: [{% for request_for_day in requests_over_days %}{{ request_for_day.requests }}{% if not forloop.last %}, {% endif %}{% endfor %}],
                fill: false,
                backgroundColor: '#FFFFFF',
                borderColor: '#FFFFFF'
            }]
        },
        options: {
            legend: {
                labels: {
                    fontColor: '#FFFFFF'
                },
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: '#FFFFFF'
                    },
                    gridLines: {
                        color: 'rgba(0, 0, 0, 0)'
                    }
                }],
                xAxes: [{
                    ticks: {
                        backgroundColor: '#FFFFFF',
                        fontColor: '#FFFFFF'
                    },
                    gridLines: {
                        color: 'rgba(255,255,255, 0.25)'
                    }
                }]
            },
            responsive: true,
            maintainAspectRatio: false,
            tooltips: {
                mode: 'index',
                intersect: false,
                custom: function(tooltip) {
                    if (!tooltip) return;
                    // disable displaying the color box;
                    tooltip.displayColors = false;
                },
                callbacks: {
                    // use label callback to return the desired label
                    label: function(tooltipItem, data) {
                        return tooltipItem.xLabel + " - " + tooltipItem.yLabel + ' Requests' + '';
                    },
                    // remove title
                    title: function(tooltipItem, data) {
                        return;
                    }
                }
            }
        }
    });
</script>
{% endif %}

{% if requests_today_graph %}
    <script>
        var ctx = document.getElementById('requestsToday').getContext('2d');

        var requestsTodayChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for request_for_day in requests_today_graph %}'{{ request_for_day.hour }}:00'{% if not forloop.last %}, {% endif %}{% endfor %}],
                datasets: [{
                    label: 'Requests',
                    data: [{% for request_for_day in requests_today_graph %}{{ request_for_day.requests }}{% if not forloop.last %}, {% endif %}{% endfor %}],
                    fill: false,
                    backgroundColor: '#FFFFFF',
                    borderColor: '#FFFFFF'
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: '#FFFFFF'
                    },
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: '#FFFFFF'
                        },
                        gridLines: {
                            color: 'rgba(0, 0, 0, 0)'
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            backgroundColor: '#FFFFFF',
                            fontColor: '#FFFFFF'
                        },
                        gridLines: {
                            color: 'rgba(255,255,255, 0.25)'
                        }
                    }]
                },
                responsive: true,
                maintainAspectRatio: false,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                    custom: function(tooltip) {
                        if (!tooltip) return;
                        // disable displaying the color box;
                        tooltip.displayColors = false;
                    },
                    callbacks: {
                        // use label callback to return the desired label
                        label: function(tooltipItem, data) {
                            return tooltipItem.xLabel + " - " + tooltipItem.yLabel + ' Requests';
                        },
                        // remove title
                        title: function(tooltipItem, data) {
                            return;
                        }
                    }
                }
            }
        });
        // Hide it because on page load the requests this week should show
        $('#requestsTodayDiv').hide();
    </script>
{% endif %}

{% if days_in_range %}
{# If we have a start date and date for the requests #}
<script>
    var ctx = document.getElementById('startEndRequests').getContext('2d');

    var startEndRequests = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for day in days_in_range %}'{{ day }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
            datasets: [{
                label: 'Requests',
                data: [{% for request_for_day in requests_over_days_count %}{{ request_for_day }}{% if not forloop.last %}, {% endif %}{% endfor %}],
                fill: false,
                backgroundColor: '#FFFFFF',
                borderColor: '#FFFFFF'
            }]
        },
        options: {
            legend: {
                labels: {
                    fontColor: '#FFFFFF'
                },
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontColor: '#FFFFFF'
                    },
                    gridLines: {
                        color: 'rgba(0, 0, 0, 0)'
                    }
                }],
                xAxes: [{
                    ticks: {
                        backgroundColor: '#FFFFFF',
                        fontColor: '#FFFFFF'
                    },
                    gridLines: {
                        color: 'rgba(255,255,255, 0.25)'
                    }
                }]
            },
            responsive: true,
            maintainAspectRatio: false,
            tooltips: {
                mode: 'index',
                intersect: false,
                custom: function(tooltip) {
                    if (!tooltip) return;
                    // disable displaying the color box;
                    tooltip.displayColors = false;
                },
                callbacks: {
                    // use label callback to return the desired label
                    label: function(tooltipItem, data) {
                        return tooltipItem.xLabel + " - " + tooltipItem.yLabel + ' Requests' + '';
                    },
                    // remove title
                    title: function(tooltipItem, data) {
                        return;
                    }
                }
            }
        }
    });
</script>
{% endif %}

{% if requests_over_days %}
<script>
    // Create a simple line chart
    var data = {
        // A labels array that can contain any sort of values
        labels: [{% for request_for_day in requests_over_days %}'{{ request_for_day.date }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
        // Our series array that contains series objects or in this case series data arrays
        series: [
            [{% for request_for_day in requests_over_days %}{{ request_for_day.requests }}{% if not forloop.last %}, {% endif %}{% endfor %}]
        ]
    };

    // As options we currently only set a static size of 300x200 px
    var options = {
        height: '300px',
        showArea: true,
        chartPadding: 0
    };

    // In the global name space Chartist we call the Line function to initialize a line chart. As a first parameter we pass in a selector where we would like to get our chart created. Second parameter is the actual data object and as a third parameter we pass in our options
    new Chartist.Line('#requests_this_week', data, options);

    // For the main graph in statistics
    options = {
        height: '300px',
        chartPadding: 0
    };
    new Chartist.Line('#requests_this_week_main', data, options);
</script>
{% endif %}

{# Chart for the top request types #}
{% if request_types %}
    <script>

        var config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [{% for type, number in request_types.items %}{{ number }}{% if not forloop.last %}, {% endif %}{% endfor %}],
                    backgroundColor: [
                        '#FF0000',
                        '#FFA500',
                        '#FFFF00',
                        '#A11919',
                        '#2DC662',
                        '#E88372'
                    ],
                    label: 'Dataset 1'
                }],
                labels: [{% for type, number in request_types.items %}'{{ type }}'{% if not forloop.last %}, {% endif %}{% endfor %}]
            },
            options: {
                responsive: true
            }
        };

        window.onload = function() {
            var ctx = document.getElementById('requestTypes').getContext('2d');
            window.myPie = new Chart(ctx, config);
        };
    </script>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</html>