{% extends 'core/nav-bar.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Set the title and background color for the base.html file. #}
{% block title %}Build Database{% endblock %}

{# Load Crispy Forms #}
{% load crispy_forms_tags %}

{% block page-content %}

    <div id="page-content" class="page-content">
        <h2 class="title-name">Build Database</h2>
        <p class="title-description">
            Link your database to your project and build a schema to build endpoints.
        </p>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div id="database-builder-connection-messages">

        </div>
        <br/>

        <form method="post" action="" name="build-database">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="text-dark">Database Type</h2>
                            <p><small>
                                Choose which database server you run and RESTBroker will contact it to get the schema
                                of your database.</small>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-primary">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 database-option-image">
                                            <img src="{% static 'core/images/mysql-logo.png' %}" width="100%" alt="">
                                        </div>
                                        <div class="col-md-6 database-option-info">
                                            <div class="float-right">
                                                <input class="form-check-input" type="radio" name="database-type" id="mariadb" value="mariadb">
                                            </div>
                                            MySQL<br/>
                                            <small>Version: 8.0.13</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-primary">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6" style="padding-right: 0px;">
                                            <img src="{% static 'core/images/maria-db.png' %}" width="100%" alt="">
                                        </div>
                                        <div class="col-md-6" style="padding-left: 0px; padding-top: 10px;">
                                            <div class="float-right">
                                                <input class="form-check-input" type="radio" name="database-type" id="mariadb" value="mariadb">
                                            </div>
                                            MariaDB<br/>
                                            <small>Version: 10.3.12</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <hr/>
                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="text-dark">Database Information</h2>
                            <p><small>Please ensure that Remote SQL access is enabled on your server (remove bind from local host)
                                or RESTBroker will not be able to connect to your server.

                            <br/><br/>
                                If necessary, you can add the RESTBroker IP to the list of your allowed connections in your firewall.</small></p>
                        </div>
                        <div class="col-md-8">
                            {{ form.server_address|as_crispy_field }}
                            {{ form.database_name|as_crispy_field }}
                            {{ form.database_user|as_crispy_field }}
                            {{ form.database_password|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>
            {% csrf_token %}
            <input type="hidden" value="{{ project_id }}" name="project_id" id="project_id">
            <br/>
            <button type="button" id="build-database" class="btn btn-block btn-success">Build Database</button><br/>
        </form>

    </div>
    <br/>
    {% include 'core/footer.html' with color="black" %}
{% endblock %}