{% extends 'core/nav-bar.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Set the title and background color for the base.html file. #}
{% block title %}RESTBroker - Build Database{% endblock %}

{# Load Crispy Forms #}
{% load crispy_forms_tags %}

{% block page-content %}

    <div id="page-content" class="page-content">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <h1 class="title-name">Build Database</h1>
        <p class="title-description">Link your database to your project and build a schema to build endpoints.</p>

        <div id="database-builder-connection-messages">

        </div>

        <form method="post" action="" name="build-database">
            <h3>Database Type</h3>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-center">
                                <img src="{% static 'core/images/mysql-logo.png' %}" height="100px"><br/>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="database-type" id="mysql" value="mysql">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <img src="{% static 'core/images/maria-db.png' %}" height="100px"><br/>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="database-type" id="mariadb" value="mariadb">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <h3>SSH Information</h3>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            {{ form.server_address|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.ssh_user|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.ssh_password|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <h3>Database Information</h3>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            {{ form.database_name|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.database_user|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.database_password|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>
            {% csrf_token %}
            <input type="hidden" value="{{ project_id }}" name="project_id" id="project_id">
            <br/>
            <button type="button" id="build-database" class="btn btn-block btn-success">Build Database</button><br/>
        </form>

    </div>
    <br/>
    {% include 'core/footer.html' with color="black" %}
{% endblock %}