{% extends 'core/nav-bar.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Set the title and background color for the base.html file. #}
{% block title %}RESTBroker - Create Endpoint{% endblock %}

{# Load Crispy Forms #}
{% load crispy_forms_tags %}

{% load util %}

{% block page-content %}
    <div class="page-content">
        <h2 class="title-name">{{ project.name }} </h2>
        <p class="title-description">
            {{ project.description }}
            {% if project.type == 'public' %}
                <span class="badge badge-light"><i class="fa fa-users"></i> Public</span>
            {% else %}
                <span class="badge badge-light"><i class="fa fa-lock"></i> Private</span>
            {% endif %}
        </p>
        <div class="float-left">
            <h2><i class="fas fa-plus" aria-hidden="true"></i> Create Resource</h2>
        </div>
        <div class="inner-page-content">
            <div class="card">
                <div class="card-body">
                    <div class="inside-padding">
                        {% if request.session.resource and request.session.resource.project == project_id %}
                            <div class="alert alert-info" role="alert">
                                Request for {{ request.session.resource.name }} resource is complete. Continue below. <a href="/resource/reset/{{ project.id }}">Click here to start from scratch?</a>
                            </div>

                            <form name="create-resource" method="post" action="">
                                <div>
                                    <p class="form-instruction">Basic Information</p>
                                    {{ form.response_type|as_crispy_field }}

                                    <br/>

                                    <div id="data-sources">

                                    </div>

                                    <button type="button" id="add-data-source" class="btn btn-secondary btn-block"><i class="fa fa-plus"></i> Add Data Source</button>

                                    <br/>
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success btn-block">Continue <i class="fa fa-arrow-right"></i></button>
                                    <br/>
                                </div>
                            </form>

                        {% else %}
                            <form name="create-resource" method="post" action="">
                                <div>
                                    <p class="form-instruction">Basic Information</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form.name|as_crispy_field }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.description|as_crispy_field }}
                                        </div>
                                    </div>

                                    <p class="form-instruction">Request Data</p>
                                    {{ form.request_type|as_crispy_field }}
                                    <label for="headers">Headers</label>
                                    <div id="headers">

                                    </div>
                                    <button type="button" id="add-header" class="btn btn-secondary btn-block btn-sm"><i class="fa fa-plus"></i> Add Header</button>
                                    <br/>
                                    <lable for="parameters">Parameters</lable>
                                    <div id="parameters">

                                    </div>
                                    <button type="button" id="add-parameter" class="btn btn-secondary btn-block btn-sm"><i class="fa fa-plus"></i> Add Parameters</button>
                                    <br/>
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success btn-block">Continue <i class="fa fa-arrow-right"></i></button>
                                    <br/>
                                </div>
                            </form>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slant-end">
        <svg x="0" y="0" viewBox="0 0 2560 200" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-back" points="2560 0 2560 300 0 200"></polygon>
        </svg>
    </div>
    <div class="other-half">
        <div class="container">
            {% include 'core/footer.html' %}
        </div>
    </div>
    {% if request.session.resource %}
        <script id="database-data" type="application/json">
            {{ database_data|safe }}
        </script>
        <script id="resource-session-data" type="application/json">
            {{ request.session.resource|to_json|safe }}
        </script>
    {% endif %}
{% endblock %}