{% extends 'core/nav-bar.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Set the title and background color for the base.html file. #}
{% block title %}RESTBroker - {{ action }} Project{% endblock %}

{# Load Crispy Forms #}
{% load crispy_forms_tags %}

{% block page-content %}
<div class="page-content">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <h2 class="title-name">{{ action }} Project</h2>
    <p class="title-description">{% if action == 'Create' %}Launch your next idea.{% else %} Change some details about your project. {% endif %}</p>

    <div class="inner-page-content">
        <div class="card">
            <div class="card-body">
                <div class="inside-padding">

                    <form name="create-endpoint" method="post" action="">

                        {{ form.name|as_crispy_field }}

                        {{ form.description|as_crispy_field }}

                        <hr/>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="private" name="type" class="custom-control-input" value="private" {% if action == 'Edit' and project.type == 'private' %} checked {% endif %} required>
                            <label class="custom-control-label" for="private">
                                <i class="fa fa-lock"></i> <strong>Private</strong><br/>
                                <small>The API will require an API key for requests which can be generated.</small></label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="public" name="type" class="custom-control-input" value="public" {% if action == 'Edit' and project.type == 'public' %} checked {% endif %} required>
                            <label class="custom-control-label" for="public">
                                <i class="fa fa-users" aria-hidden="true"></i> <strong>Public</strong><br/>
                                <small>The API will be open to requests by anyone and will not require an API key.</small>
                            </label>
                        </div>
                        <br/><br/>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-block">Create Project <i class="fa fa-arrow-right"></i></button>
                    </form>



                    {# {% crispy form %} #}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slant-end">
    <svg x="0" y="0" viewBox="0 0 2560 200" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-back" points="2560 0 2560 300 0 200"></polygon>
    </svg>
</div>
<div class="other-half">
    <div class="container">
        {% include 'core/footer.html' %}
    </div>
</div>
{% endblock %}