{% extends 'core/nav-bar.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Set the title and background color for the base.html file. #}
{% block title %}RESTBroker - Create Endpoint{% endblock %}

{# Load Crispy Forms #}
{% load crispy_forms_tags %}

{% load util %}

{% block page-content %}
    <div class="page-content">
        <h2 class="title-name">{{ project.name }} </h2>
        <p class="title-description">
            {{ project.description }}
            {% if project.type == 'public' %}
                <span class="badge badge-light"><i class="fa fa-users"></i> Public</span>
            {% else %}
                <span class="badge badge-light"><i class="fa fa-lock"></i> Private</span>
            {% endif %}
        </p>
        <div class="float-left">
            <h2><i class="fas fa-plus" aria-hidden="true"></i> Create Resource</h2>
        </div>
        <div class="inner-page-content">
            <div class="card">
                <div class="card-body">
                    <div class="inside-padding">
                        {% if request.session.resource and request.session.resource.project == project_id %}
                            <div class="alert alert-info" role="alert">
                                Request for {{ request.session.resource.name }} resource is complete. Continue below. <a href="/resource/reset/{{ project.id }}">Click here to start from scratch?</a>
                            </div>

                            <form name="create-resource" method="post" action="">
                                <div>
                                    <p class="form-instruction">Basic Information</p>
                                    {{ form.response_type|as_crispy_field }}

                                    <br/>

                                    <div id="data-sources">

                                    </div>

                                    <button type="button" id="add-data-source" class="btn btn-secondary btn-block"><i class="fa fa-plus"></i> Add Data Source</button>

                                    <br/>
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success btn-block">Continue <i class="fa fa-arrow-right"></i></button>
                                    <br/>
                                </div>
                            </form>


                        {% else %}
                            <form name="create-resource" method="post" action="">
                                <div>
                                    <p class="form-instruction">Basic Information</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form.name|as_crispy_field }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form.description|as_crispy_field }}
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="table-select">User Group <small>Leave Blank For all</small></label><br/>
                                                <select name="user_groups" class="selectpicker" multiple data-width="100%" id="userGroups">
                                                    {% for user_group in user_groups %}
                                                        <option value="{{ user_group.id }}">{{ user_group.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="form-instruction">Request Data</p>
                                    {{ form.request_type|as_crispy_field }}
                                    <label for="headers">Headers</label>
                                    <div id="headers">

                                    </div>
                                    <button type="button" id="add-header" class="btn btn-secondary btn-block btn-sm"><i class="fa fa-plus"></i> Add Header</button>
                                    <br/>
                                    <div id="parameters">
                                        <label for="parameters">Parameters</label>
                                        <div id="parameter-list"></div>
                                        <button type="button" id="add-parameter" class="btn btn-secondary btn-block btn-sm"><i class="fa fa-plus"></i> Add Parameters</button>
                                        <br/>
                                    </div>
                                    <div id="post-data-binding" style="display: none;">
                                        <div class="float-right">
                                            <i class="fa fa-question" data-container="body" data-toggle="popover" data-placement="left" data-content="These are the POST attributes you expect in the POST request and what they map to in your database for inserting."></i>
                                        </div>
                                        <label for="data-binding">Data Binding</label>
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th scope="col">Column</th>
                                                <th scope="col">Key</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Description</th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <tbody id="data-bind-column">

                                            <tr>
                                                <td colspan="5"><button id="add-data-bind-column" type="button" class="btn btn-block btn-outline-success"><i class="fa fa-plus"></i></button></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="delete-data-binding" style="display: none;">
                                        <div class="float-right">
                                            <i class="fa fa-question" data-container="body" data-toggle="popover" data-placement="left" data-content="These are the attributes you expect in the DELETE request that specify what row(s) to delete in the database."></i>
                                        </div>
                                        <label for="data-binding">Data Binding Columns to Delete Row(s)</label>
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th scope="col">Column</th>
                                                <th scope="col">Key</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Description</th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <tbody id="delete-data-bind-column">

                                            <tr>
                                                <td colspan="5"><button id="delete-add-data-bind-column" type="button" class="btn btn-block btn-outline-success"><i class="fa fa-plus"></i></button></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success btn-block">Continue <i class="fa fa-arrow-right"></i></button>
                                    <br/>
                                </div>
                            </form>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'core/footer.html' %}
    <script id="database-data" type="application/json">
            {{ database_data|safe }}
    </script>
    {% if request.session.resource %}
        <script id="resource-session-data" type="application/json">
            {{ request.session.resource|to_json|safe }}
        </script>
    {% endif %}
{% endblock %}