{% extends 'core/nav-bar.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Set the title and background color for the base.html file. #}
{% block title %}RESTBroker - Dashboard{% endblock %}

{% block page-content %}

<div class="page-content">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <h2 class="title-name">{{ project.name }} </h2>
    <p class="title-description">
        {{ project.description }}
        {% if project.type == 'public' %}
            <span class="badge badge-light"><i class="fa fa-users"></i> Public</span>
        {% else %}
            <span class="badge badge-light"><i class="fa fa-lock"></i> Private</span>
        {% endif %}
    </p>
    <div class="float-left">
        <h2><i class="fas fa-tachometer-alt" aria-hidden="true"></i> Dashboard</h2>
    </div>
    <div class="inner-page-content">

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right">
                            <div class="stat-icon-orange">
                                <i class="fas fa-chart-pie"></i>
                            </div>
                        </div>
                        <p class="stat-title">Requests</p>
                        <p class="stat-value">{{ num_requests }}</p>
                        <p class="stat-subtitle">{% if percentage > 0 %}<i class="fa fa-arrow-up green" aria-hidden="true"></i>{% elif percentage < 0 %}<i class="fa fa-arrow-down red" aria-hidden="true"></i>{% else %}<i class="fa fa-minus blue" aria-hidden="true"></i>{% endif %} {{ percentage }}% since last month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right">
                            <div class="stat-icon-blue">
                                <i class="fas fa-chart-bar" aria-hidden="true"></i>
                            </div>
                        </div>
                        <p class="stat-title">Projects</p>
                        <p class="stat-value">{{ projects|length }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right">
                            <div class="stat-icon-yellow">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </div>
                        </div>
                        <p class="stat-title">API Keys</p>
                        <p class="stat-value">{{ api_keys|length }}</p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-light round-table-corners">
                    <thead>
                    <tr>
                        <th class="table-row-no-top-border" colspan="4" scope="col">Recent API Requests</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for api_request in recent_api_requests %}
                        <tr>
                            <th><span class="badge resource-type-bg-{{ api_request.type }} text-white">{{ api_request.type }}</span></th>
                            <td>{% if '40' in api_request.status %}
                                <span class="badge badge-warning request-status">{{ api_request.status }}</span>
                            {% elif '200' in api_request.status %}
                                <span class="badge badge-success request-status">{{ api_request.status }}</span>
                            {% endif %}</td>
                            <td>{{ api_request.resource }}</td>
                            <td>
                                <div class="float-right">
                                    <a class="btn btn-secondary btn-xs" href="/request/{{ api_request.id }}"><i class="fa fa-eye"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Recent API Requests</div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="slant-end">
    <svg x="0" y="0" viewBox="0 0 2560 200" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-back" points="2560 0 2560 300 0 200"></polygon>
    </svg>
</div>
<div class="other-half">
    <div class="container">
        {% include 'core/footer.html' %}
    </div>
</div>
{% endblock %}