{% extends 'core/base.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Set the title and background color for the base.html file. #}
{% block title %}Home{% endblock %}
{% block background-color %}secondary-background{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 login-left">
            <div class="float-left" style="padding-top: 10px;">
                <a href="{% url 'features' %}"><img class="logo" src="{% static 'core/images/logo-white.png' %}" style="width:100px;"></a>
            </div>
            <div class="float-right login-sign-up-nav">
                <br/>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'learn' %}">Learn</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'projects' %}"><i class="fas fa-user text-white"></i>{{ request.user.first_name }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sign-up' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <br/><br/>
    <div class="container">
        <div class="row h-50">
            <div class="col-md-4">
                <div class="feature-one">
                    <i class="fas fa-exchange-alt fa-5x text-white"></i>
                    <br/><br/>
                    <h4 class="text-white">Many Resources, One Request</h4>
                    <p class="text-white">You can define resources to include data from multiple different tables all nested and
                    serialised the way it should be.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-two">
                    <i class="fas fa-door-open fa-5x text-white"></i>
                    <br/><br/>
                    <h4 class="text-white">Single Point of Entry</h4>
                    <p class="text-white">No need to remember different endpoint names. Name your resource and send all requests to
                    restbroker.com/api</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-three">
                    <i class="fas fa-memory fa-5x text-white"></i>
                    <br/><br/>
                    <h4 class="text-white">Cache Results for Efficiency</h4>
                    <p class="text-white">RESTBroker can cache commonly requested resources so that your database does not always have
                    to be contacted.</p>
                </div>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <br/>
                <div class="main-buttons text-center">
                    <a href="{% url 'login' %}" class="btn btn-light">Get Started</a>
                    <a href="{% url 'learn' %}" class="btn btn-light">Learn</a>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <br/><br/>
    <div class="card main-feature-content">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="terminal-window">
                            <div class="terminal-top-bar">
                                <div class="terminal-close-button" onClick="closeTerminal()"></div>
                                <div class="terminal-minimise-button"></div>
                                <div class="terminal-expand-button"></div>
                            </div>
                            <div class="terminal-content">
                                <p>$ <span class="typer typer-stop" id="main" data-delete-last="false" data-loop="1" data-words="curl -X GET 'https://restbroker.com/api' -u 'api_key' -H 'RESTBroker-Resource: Profile'&nbsp; &nbsp; $ echo 'Cool Right?'" data-colors="white" data-delay="50"></span>
                                    <span class="cursor" data-owner="first-typer"></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <br/><br/><br/><br/>
                        <i class="fa fa-arrow-right fa-5x faa-passing animated"></i>
                    </div>
                    <div class="col-md-5">
                        <div class="terminal-window">
                            <div class="terminal-top-bar">
                                <div class="terminal-close-button" onClick="closeTerminal()"></div>
                                <div class="terminal-minimise-button"></div>
                                <div class="terminal-expand-button"></div>
                            </div>
                            <div class="terminal-content-response">
                                <p>
                                    {<br/>
                                    &nbsp;&nbsp;"username": "Mark",<br/>
                                    &nbsp;&nbsp;"posts": [{<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;"body": "RESTBroker is awesome!",
                                    &nbsp;&nbsp;&nbsp;&nbsp;"likes": 100,<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;"comments": [{<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"body": "I agree",<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"likes": 50<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;}]<br/>
                                    &nbsp;&nbsp;}]
                                    <br/>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <br/>
                <h3 class="text-white">Self Documenting and Code Autogeneration</h3>
                <p class="text-white">RESTBroker is self documenting which mades once you change some thing in your defintion, the documentation with update appropriately.<br/>
                    It will also generate code examples in multiple languages of your choices:</p>
                <p class="text-white"><i class="fa fa-code fa-2x"></i> &nbsp; <i class="fab fa-python fa-2x"></i> &nbsp; <i class="fab fa-java fa-2x"></i> &nbsp; <i class="fab fa-js fa-2x"></i> &nbsp; <i class="fab fa-php fa-2x"></i></p>
            </div>
            <div class="col-md-6">
                <div class="terminal-top-bar">
                    <div class="terminal-top-bar">
                        <div class="terminal-close-button" onClick="closeTerminal()"></div>
                        <div class="terminal-minimise-button"></div>
                        <div class="terminal-expand-button"></div>
                    </div>
                </div>
                <img src="{% static 'core/images/docs.png' %}" width="100%" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;"/>
            </div>
        </div>
        <br/><br/><br/>
        <div class="row">
            <div class="col-md-6">
                <div class="terminal-top-bar">
                    <div class="terminal-top-bar">
                        <div class="terminal-close-button" onClick="closeTerminal()"></div>
                        <div class="terminal-minimise-button"></div>
                        <div class="terminal-expand-button"></div>
                    </div>
                </div>
                <img src="{% static 'core/images/statistics.png' %}" width="100%" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;"/>
            </div>
            <div class="col-md-6">
                <br/>
                <h3 class="text-white">Useful Statistics</h3>
                <p class="text-white">Get statistics about your resources that you wouldn't normally be able to access. Statistics are offered
                from a high level to give a quick glance regarding the most popular resource or there are more detailed statistics at hand that can be
                used to make business decisions. Track your most used resources or your app as a whole by viewing details about where requests are coming from and when.</p>

                <p class="text-white">Use our GeoIP tool that will allow you to view where in the world your data is being requested from. If linked with a mobile app,
                this can give insights into the geographic popularity of your application.</p>
            </div>
        </div>
        <br/><br/><br/>
        <div class="row">
            <div class="col-md-6">
                <br/>
                <h3 class="text-white">User Groups</h3>
                <p class="text-white">
                    Control what resources can be accessed by what user groups. Create a user group, bind API Keys to that group and then choose
                    what groups can access a particular resource.
                </p>
                <p class="text-white">
                    Create user groups for all levels or just for particular resources.
                </p>
            </div>
            <div class="col-md-6">
                <div style="width:68%;" class="float-right">
                    <?xml version="1.0" encoding="iso-8859-1"?>
                    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<path style="fill:#E7ECED;" d="M476.681,132.414c-1.324,0-2.675-0.3-3.946-0.927L366.804,78.521
		c-4.361-2.18-6.126-7.486-3.946-11.847c2.18-4.361,7.495-6.118,11.847-3.946l105.931,52.966c4.361,2.18,6.126,7.486,3.946,11.847
		C483.037,130.631,479.921,132.414,476.681,132.414z"/>
	<path style="fill:#E7ECED;" d="M414.905,247.172c-2.631,0-5.235-1.174-6.974-3.407l-61.793-79.448
		c-2.993-3.858-2.295-9.393,1.545-12.385c3.849-3.019,9.393-2.295,12.385,1.545l61.793,79.448c2.993,3.858,2.295,9.393-1.545,12.385
		C418.701,246.572,416.794,247.172,414.905,247.172z"/>
	<path style="fill:#E7ECED;" d="M284.319,398.08c-2.684,0-5.332-1.218-7.071-3.531c-2.922-3.893-2.136-9.428,1.766-12.35
		l49.311-36.979c3.902-2.922,9.437-2.136,12.359,1.766c2.922,3.893,2.136,9.428-1.766,12.35l-49.311,36.979
		C288.018,397.497,286.164,398.08,284.319,398.08z"/>
	<path style="fill:#E7ECED;" d="M114.759,432.552H52.966c-4.873,0-8.828-3.946-8.828-8.828c0-4.882,3.955-8.828,8.828-8.828h61.793
		c4.873,0,8.828,3.946,8.828,8.828C123.586,428.606,119.631,432.552,114.759,432.552z"/>
	<path style="fill:#E7ECED;" d="M235.043,257.457c-1.774,0-3.575-0.539-5.129-1.651l-76.156-54.422
		c-3.964-2.834-4.882-8.342-2.048-12.314c2.834-3.972,8.351-4.882,12.314-2.048l76.156,54.422c3.964,2.834,4.882,8.342,2.048,12.314
		C240.508,256.177,237.798,257.457,235.043,257.457z"/>
	<path style="fill:#E7ECED;" d="M150.696,149.451c-2.463,0-4.908-1.015-6.647-3.019c-3.213-3.672-2.834-9.251,0.839-12.456
		l70.003-61.175c3.663-3.213,9.242-2.842,12.456,0.839c3.213,3.672,2.834,9.251-0.839,12.456l-70.003,61.175
		C154.827,148.736,152.753,149.451,150.696,149.451z"/>
	<path style="fill:#E7ECED;" d="M88.276,123.586c-4.873,0-8.828-3.946-8.828-8.828V52.966c0-4.882,3.955-8.828,8.828-8.828
		c4.873,0,8.828,3.946,8.828,8.828v61.793C97.103,119.64,93.149,123.586,88.276,123.586z"/>
	<path style="fill:#E7ECED;" d="M367.457,478.146c-1.298,0-2.613-0.283-3.858-0.892l-93.811-45.594
		c-4.387-2.127-6.215-7.415-4.078-11.802c2.136-4.387,7.406-6.206,11.802-4.078l93.811,45.594c4.387,2.127,6.215,7.415,4.078,11.802
		C373.875,476.319,370.732,478.146,367.457,478.146z"/>
</g>
<path style="fill:#366DB6;" d="M176.552,203.034c0-48.755-39.521-88.276-88.276-88.276S0,154.28,0,203.034
	c0,32.653,17.779,61.096,44.138,76.367v-23.27c0-9.825,8.298-17.788,18.529-17.788h51.218c10.231,0,18.529,7.962,18.529,17.788
	v23.252C158.782,264.139,176.552,235.688,176.552,203.034z"/>
<g>
	<circle style="fill:#DD352E;" cx="485.517" cy="132.414" r="26.483"/>
	<circle style="fill:#DD352E;" cx="26.483" cy="423.724" r="26.483"/>
	<circle style="fill:#DD352E;" cx="388.414" cy="485.517" r="26.483"/>
	<circle style="fill:#DD352E;" cx="256" cy="264.828" r="26.483"/>
</g>
<g>
	<circle style="fill:#FFFFFF;" cx="88.276" cy="176.552" r="26.483"/>
	<path style="fill:#FFFFFF;" d="M113.885,238.345H62.667c-10.231,0-18.529,7.962-18.529,17.788v23.27
		c12.994,7.53,28.036,11.908,44.138,11.908s31.144-4.378,44.138-11.908v-23.27C132.414,246.307,124.116,238.345,113.885,238.345z"/>
</g>
<path style="fill:#366DB6;" d="M388.414,88.276C388.414,39.521,348.893,0,300.138,0s-88.276,39.521-88.276,88.276
	c0,32.653,17.779,61.096,44.138,76.367v-23.27c0-9.825,8.298-17.788,18.529-17.788h51.218c10.231,0,18.529,7.962,18.529,17.788
	v23.252C370.644,149.38,388.414,120.929,388.414,88.276z"/>
<g>
	<circle style="fill:#FFFFFF;" cx="300.138" cy="61.793" r="26.483"/>
	<path style="fill:#FFFFFF;" d="M325.747,123.586h-51.218c-10.231,0-18.529,7.962-18.529,17.788v23.27
		c12.994,7.53,28.036,11.908,44.138,11.908s31.144-4.378,44.138-11.908v-23.27C344.276,131.549,335.978,123.586,325.747,123.586z"/>
</g>
<path style="fill:#366DB6;" d="M503.172,317.793c0-48.755-39.521-88.276-88.276-88.276s-88.276,39.521-88.276,88.276
	c0,32.653,17.779,61.096,44.138,76.367v-23.27c0-9.825,8.298-17.788,18.529-17.788h51.218c10.231,0,18.529,7.962,18.529,17.788
	v23.252C485.402,378.898,503.172,350.446,503.172,317.793z"/>
<g>
	<circle style="fill:#FFFFFF;" cx="414.897" cy="291.31" r="26.483"/>
	<path style="fill:#FFFFFF;" d="M440.505,353.103h-51.218c-10.231,0-18.529,7.962-18.529,17.788v23.27
		c12.994,7.53,28.036,11.908,44.138,11.908s31.144-4.378,44.138-11.908v-23.27C459.034,361.066,450.737,353.103,440.505,353.103z"/>
</g>
<path style="fill:#366DB6;" d="M291.31,423.724c0-48.755-39.521-88.276-88.276-88.276s-88.276,39.521-88.276,88.276
	c0,32.653,17.779,61.096,44.138,76.367v-23.27c0-9.825,8.298-17.788,18.529-17.788h51.218c10.231,0,18.529,7.962,18.529,17.788
	v23.252C273.54,484.829,291.31,456.377,291.31,423.724z"/>
<g>
	<circle style="fill:#FFFFFF;" cx="203.034" cy="397.241" r="26.483"/>
	<path style="fill:#FFFFFF;" d="M228.643,459.034h-51.218c-10.231,0-18.529,7.962-18.529,17.788v23.27
		c12.994,7.53,28.036,11.908,44.138,11.908s31.144-4.378,44.138-11.908v-23.27C247.172,466.997,238.874,459.034,228.643,459.034z"/>
</g>
<circle style="fill:#DD352E;" cx="88.276" cy="26.483" r="26.483"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    <!-- Modal -->
    <div class="modal fade" id="closeTerminalModal" tabindex="-1" role="dialog" aria-labelledby="closeTerminalModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <i class="far fa-grin-squint fa-5x"></i><br/><br/>
                        <p>Why would you want to close this beautiful custom made terminal window with it's awesome example?</p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">You're right, it's pretty neat...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    function closeTerminal() {
        $('#closeTerminalModal').modal();
    }
    </script>
{% endblock %}