{% extends 'core/nav-bar.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Set the title and background color for the base.html file. #}
{% block title %}Select Project{% endblock %}

{% block page-content %}

    <div class="page-content">
        <h2 class="title-name">Select Project</h2>
        <p class="title-description">
            Choose what project you want to manage.
        </p>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <div class="inner-page-content">
        {% if projects %}
            <div class="row">
                {% for project in projects %}
                    <div class="col-md-4">
                        <div class="card border-light">
                            <div class="card-body">
                                <h5 class="card-title">{{ project.name }} {% if project.type == 'public' %}
                                    <span class="badge badge-light"><i class="fa fa-users"></i> Public</span>
                                {% else %}
                                    <span class="badge badge-light"><i class="fa fa-lock"></i> Private</span>
                                {% endif %}</h5>
                                <p><small>{{ project.description }}</small></p>
                                <a href="/dashboard/{{ project.id }}" class="btn btn-sm btn-success">Choose Project</a>
                            </div>
                        </div>
                        {% if not forloop.last %}
                            <br/>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body border-light">
                            <div class="text-center">
                                <a class="add-project-card-link" href="{% url 'create-project' %}">
                                    <i class="fa fa-plus fa-4x bottom-padding"></i><br/>Create Project
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card stat-card">
                <div class="card-body">
                    <div class="text-center">
                        <img src="{% static 'core/images/lapis-favicon.png' %}" width="100px">
                        <br/><br/>
                        <h3>No projects in your workspace</h3>
                        <p>Start a project now to start building your web API.</p>
                        <a href="{% url 'create-project' %}" class="btn btn-primary">Create New Project <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
    {% include 'core/footer.html' %}
{% endblock %}