{% extends 'core/base.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Set the title and background color for the base.html file. #}
{% block title %}RESTBroker - Home{% endblock %}
{% block background-color %}secondary-background{% endblock %}

{% block content %}
    <div class="container">
        <div class="home-content">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <img class="logo" src="{% static 'core/images/logo-white.png' %}"><br/><br/>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        <div class="card">
                            <div class="card-body">
                                <h2>Login</h2>
                                <form name="login" action="" method="post">
                                    <div class="input-group mb-3" style="padding-top: 5px;">
                                        <div class="input-group-prepend">
                                            <span style="background-color: white;" class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username" aria-describedby="basic-addon1" required="required">
                                    </div>
                                    <div class="input-group mb-3" style="padding-top: 5px;">
                                        <div class="input-group-prepend">
                                            <span style="background-color: white;" class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Password" aria-label="Username" name="password" aria-describedby="basic-addon1" required="required">
                                    </div>

                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success btn-block">Login</button>
                                </form>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="{% url 'sign-up' %}" class="btn btn-block btn-secondary">Sign Up</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="" class="btn btn-block btn-secondary">Forgot Password</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'core/footer.html' with color='white' %}
{% endblock %}