{% extends 'core/base.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Load custom utility template tags #}
{% load util %}

{# Set the title and background color for the base.html file. #}
{% block background-color %}main-background{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2 sidebar-wrapper">
            <div class="sidebar">
                <div class="sidebar-brand">
                    <img src="{% static 'core/images/logo-green.png' %}" width="100%">
                </div>
                <ul class="nav flex-column">
                    {# If the project has not been selected then don't display this stuff #}
                    {% if request.session.selected_project_id %}
                        <li class="separator"></li>
                        <div class="text-center change-project-dropdown">
                            <div class="dropdown">
                                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-mouse-pointer"></i> Select a Project
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for project in projects %}
                                        <a class="dropdown-item {% if project.id == request.session.selected_project_id|add:"0" %}active-project{% endif %}" href="/dashboard/{{ project.id }}">{% if project.id == request.session.selected_project_id|add:"0" %}<i class="fa fa-check"></i>{% endif %} {{ project.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <li class="nav-item">
                            <a class="nav-link {% if 'dashboard' in request.get_full_path %}active{% endif %}" href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt"></i>
                                Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if 'resource' in request.get_full_path and 'requests' not in request.get_full_path %}active{% endif %}" href="{% url 'resources' %}"><i class="fas fa-table" aria-hidden="true"></i> Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if 'settings' in request.get_full_path %}active{% endif %}" href="{% url 'project-settings' %}"><i class="fas fa-cogs" aria-hidden="true"></i> Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if 'api' in request.get_full_path %}active{% endif %}" href="{% url 'api-keys' %}"><i class="fas fa-key" aria-hidden="true"></i> API Keys</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if 'statistics' in request.get_full_path or 'requests' in request.get_full_path %}active{% endif %}" href="{% url 'project-statistics' %}"><i class="fas fa-chart-bar" aria-hidden="true"></i> Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if 'docs' in request.get_full_path %}active{% endif %}" href="/docs/{{ project.id }}"><i class="fas fa-file-alt" aria-hidden="true"></i> View Docs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create-project' %}"><i class="fa fa-plus" aria-hidden="true"></i> Create New Project</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/account"><i class="fas fa-mouse-pointer"></i> Select Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create-project' %}"><i class="fa fa-plus" aria-hidden="true"></i> Create New Project</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-10 page-wrapper">
            <div class="float-right login-dropdown">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i> Logged in as {{ request.user.username }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'account' %}">Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i> Logout</a>
                    </div>
                </div>
            </div>
            {% block page-content %}{% endblock %}
        </div>
    </div>
{% endblock %}