{% extends 'core/base.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Load custom utility template tags #}
{% load util %}

{# Set the title and background color for the base.html file. #}
{% block background-color %}main-background{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2 sidebar-wrapper">
            <div class="sidebar">
                <div class="sidebar-brand">
                    <img src="{% static 'core/images/logo-green.png' %}" width="100%">
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if 'dashboard' in request.get_full_path %}active{% endif %}" href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt"></i>
                            Dashboard</a>
                    </li>

                    <li class="separator text-muted">Projects</li>

                    {% if projects %}
                        {% for project in projects %}
                            <li class="nav-item project">
                                <a class="nav-link {% check_if_project_active_nav request.get_full_path project %}" href="/project/{{ project.id }}"><i class="fa fa-archive" aria-hidden="true"></i> {{ project.name }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <p class="project text-white">No projects yet.</p>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create-project' %}"><i class="fa fa-plus" aria-hidden="true"></i> Create New Project</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 page-wrapper">
            <div class="float-right login-dropdown">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i> Logged in as {{ request.user.username }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'account' %}">Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i> Logout</a>
                    </div>
                </div>
            </div>
            {% block page-content %}{% endblock %}
        </div>
    </div>
{% endblock %}