{% extends 'core/nav-bar.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Set the title and background color for the base.html file. #}
{% block title %}RESTBroker - Project Statistics{% endblock %}

{% block page-content %}
    <div class="page-content">
        <h2 class="title-name">{{ project.name }} </h2>
        <p class="title-description">
            {{ project.description }}
            {% if project.type == 'public' %}
                <span class="badge badge-light"><i class="fa fa-users"></i> Public</span>
            {% else %}
                <span class="badge badge-light"><i class="fa fa-lock"></i> Private</span>
            {% endif %}
        </p>
        <div class="float-left">
            <h2><i class="fas fa-chart-bar" aria-hidden="true"></i> Statistics</h2>
        </div>
        <div class="inner-page-content">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div class="card card-no-top-radius">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="list-group">
                                <a href="{% url 'project-statistics' %}" class="list-group-item list-group-item-action active">Overview</a>
                                <a href="{% url 'request-statistics' %}" class="list-group-item list-group-item-action">Requests</a>
                                <a href="" class="list-group-item list-group-item-action">API Keys</a>
                                <a href="#" class="list-group-item list-group-item-action">Alerts</a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h4>Overview</h4>
                            <hr/>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stat-card card">
                                        <div class="card-body">
                                            <p class="main-stat-title">Requests Today</p>
                                            <p class="main-stat-value-orange">{{ requests_today }}</p>
                                            <p class="view-stat-link"><a href="">View Request Statistics <i class="fa fa-arrow-right"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="stat-card card">
                                        <div class="card-body">
                                            <p class="main-stat-title">Requests this Month</p>
                                            <p class="main-stat-value-blue">{{ requests_this_month }}</p>
                                            <p class="view-stat-link"><a href="">View Request Statistics<i class="fa fa-arrow-right"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="stat-card card">
                                        <div class="card-body">
                                            <p class="main-stat-title">Most Popular Resource</p>
                                            <p class="main-stat-value-yellow">{{ most_popular.resource }} <small class="badge resource-type-bg-{{ most_popular.type }} text-white most-popular-request-type">{{ most_popular.type }}</small></p>
                                            <p class="view-stat-link"><a href="">View Resource Statistics <i class="fa fa-arrow-right"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>

                            <div class="stat-graph-card card">
                                <div class="card-body">
                                    <div class="float-right">
                                        <select class="form-control" id="chartSelectorMain">
                                            <option value="week">This Week</option>
                                            <option value="today">Today</option>
                                        </select>
                                    </div>
                                    <div id="requestsThisWeekDiv">
                                        <div class="inner-chart-title">Requests this Week</div>
                                        <div>
                                            <canvas id="requestsThisWeek" height="200"></canvas>
                                        </div>
                                    </div>
                                    <div id="requestsTodayDiv">
                                        <div class="inner-chart-title">Requests Today</div>
                                        <div>
                                            <canvas id="requestsToday" height="200"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="deleteProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Project {{ project.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        All endpoints, triggers and any other information associated with this project will be deleted.<br/>
                        Please be sure that you want to delete this project.
                        <br/><br/>
                        <a href="/project/delete/{{ project.id }}" class="btn btn-danger btn-block">I understand, Delete this Project</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slant-end">
        <svg x="0" y="0" viewBox="0 0 2560 200" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-back" points="2560 0 2560 300 0 200"></polygon>
        </svg>
    </div>
    <div class="other-half">
        <div class="container">
            {% include 'core/footer.html' %}
        </div>
    </div>
{% endblock %}