{% extends 'core/nav-bar.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Set the title and background color for the base.html file. #}
{% block title %}RESTBroker - Project Settings{% endblock %}

{% block page-content %}
    <div class="page-content">
        <h2 class="title-name">{{ project.name }} </h2>
        <p class="title-description">
            {{ project.description }}
            {% if project.type == 'public' %}
                <span class="badge badge-light"><i class="fa fa-users"></i> Public</span>
            {% else %}
                <span class="badge badge-light"><i class="fa fa-lock"></i> Private</span>
            {% endif %}
        </p>
        <div class="inner-page-content">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div class="card card-no-top-radius">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="list-group">
                                <a href="{% url 'project-settings' %}" class="list-group-item list-group-item-action active">Overview</a>
                                <a href="{% url 'documentation-settings' %}" class="list-group-item list-group-item-action">Documentation</a>
                                <a href="{% url 'project-security-settings' %}" class="list-group-item list-group-item-action">Security</a>
                                <a href="#" class="list-group-item list-group-item-action">Team (Maybe)</a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h4>Overview</h4>
                            <hr/>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <strong>Edit Project</strong><br/>
                                            Change the name, description or privacy status of the project.
                                        </div>
                                        <div class="col-md-2">
                                            <div class="float-right">
                                                <a href="/project/edit/{{ project.id }}" class="btn btn-secondary btn-sm">Edit Project</a>&nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="card border-danger">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <strong>Delete Project</strong><br/>
                                            Delete this project, resources, API Keys etc (and anything associated with it)
                                        </div>
                                        <div class="col-md-2">
                                            <div class="float-right">
                                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteProject">
                                                    Delete Project
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <form name="change-cache-settings" action="" method="post" enctype="multipart/form-data">
                                <div class="card">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="enable_caching" name="enable_caching" {% if project.caching %}checked{% endif %}>
                                                <label class="custom-control-label" for="enable_caching"><strong>Enable Caching</strong></label><br/>
                                                <small>Allow RESTBroker to cache resource which are commonly accessed/requested. Any unchanged resource will be returned from RESTBroker rather than your database.</small>
                                            </div>
                                        </li>
                                        <li id="cache-expiry" class="list-group-item {% if not project.caching %}disabled-setting{% endif %}">
                                            <strong>Expiry</strong><br/>
                                            <small>The time for which data will expire and be deleted from the RESTBroker servers.</small>
                                            <div class="form-group">
                                                <select id="cache-expiry" class="custom-select" name="cache-select">
                                                    <option value="1" {% if project.caching_expiry == '1' %}selected{% endif %}>1 hour</option>
                                                    <option value="2" {% if project.caching_expiry == '2' %}selected{% endif %}>2 hours</option>
                                                    <option value="4" {% if project.caching_expiry == '4' %}selected{% endif %}>4 hours</option>
                                                    <option value="8" {% if project.caching_expiry == '8' %}selected{% endif %}>8 hours</option>
                                                    <option value="12" {% if project.caching_expiry == '12' %}selected{% endif %}>12 hours</option>
                                                    <option value="24" {% if project.caching_expiry == '24' %}selected{% endif %}>24 hours</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li id="clear-cache" class="list-group-item {% if not project.caching %}disabled-setting{% endif %}">
                                            <strong>Clear Cache</strong><br/>
                                            <small>Completely clear the current cache for this project.</small>
                                            <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#clearCache">
                                                Clear Cache
                                            </button>

                                        </li>
                                    </ul>
                                </div>
                                <br/>
                                {% csrf_token %}
                                <div id="save-doc-changes">
                                    <button type="submit" class="btn btn-success btn-block">Save</button>
                                </div>
                            </form>
                            <!-- Modal -->
                            <div class="modal fade" id="clearCache" tabindex="-1" role="dialog" aria-labelledby="clearCache" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Clear Cache</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            You are about to clear the cache for the following project: <br/><br/>
                                            <strong>{{ project.name }}</strong><br/><br/>
                                            This action cannot be undone, please be sure.
                                        </div>
                                        <div class="modal-footer">
                                            <form name="clear-cache" action="" method="post">
                                                <input type="hidden" value="1" name="clear-cache">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger btn-block">I understand, clear {{ project.name }}'s cache</button>
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="deleteProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Project {{ project.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        All endpoints, triggers and any other information associated with this project will be deleted.<br/>
                        Please be sure that you want to delete this project.
                        <br/><br/>
                        <a href="/project/delete/{{ project.id }}" class="btn btn-danger btn-block">I understand, Delete this Project</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% include 'core/footer.html' %}
    </div>
{% endblock %}