{% extends 'core/base.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Set the title and background color for the base.html file. #}
{% block title %}RESTBroker - Sign Up{% endblock %}
{% block background-color %}secondary-background{% endblock %}

{% block content %}
    <div class="row login-row h-100">
        <div class="col-md-7 login-left">
            <img class="logo" src="{% static 'core/images/logo-white.png' %}">

            <br/>
            <h1 class="main-caption">Build, automate,<br/> document
                and manage<br/> REST APIs.</h1>
            <br/>
            <p class="sub-caption">Build and Deploy your REST API in minutes through a graphical interface. RESTBroker will remotely contact
                your database and serve content. It will self document and also manage things like API Keys and IP Blacklisting.</p>
            <div class="login-footer">
                {% include 'core/footer.html' %}
            </div>
        </div>
        <div class="col-md-5 login-right">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="login-form">
                <h2>Sign Up</h2>
                <hr/>
                <form name="sign-up" action="" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="first_name" placeholder="First Name" type="text" name="first_name" required="required" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input id="last_name" placeholder="Last Name" type="text" name="last_name" required="required" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input id="email" placeholder="Email" type="email" name="email" required="required" class="form-control">
                    </div>

                    <div class="form-group">
                        <input id="username" placeholder="Username" type="text" name="username" required="required" class="form-control">
                    </div>

                    <div class="form-group">
                        <input id="password" placeholder="Password" type="password" name="password" required="required" class="form-control">
                    </div>

                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-block">Sign Up</button>
                </form>
                <br/>
                <a href="" class="btn btn-secondary btn-block">Forgot Password</a>
                <hr/>
                <div class="text-center">
                    Already have an account? <a href="{% url 'home' %}">Login.</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}