{% extends 'core/nav-bar.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Set the title and background color for the base.html file. #}
{% block title %}RESTBroker - View Resource Requests{% endblock %}

{% block page-content %}
    <div class="page-content">
        <h2 class="title-name">{{ project.name }} </h2>
        <p class="title-description">
            {{ project.description }}
            {% if project.type == 'public' %}
                <span class="badge badge-light"><i class="fa fa-users"></i> Public</span>
            {% else %}
                <span class="badge badge-light"><i class="fa fa-lock"></i> Private</span>
            {% endif %}
        </p>
        <div class="float-left">
            <h2><i class="fas fa-plus" aria-hidden="true"></i> Requests to {{ resource.name }}</h2>
        </div>
        <div class="inner-page-content">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div class="card card-no-top-radius">
                <div class="card-body">
                    <table id="requests" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>Type</th>
                            <th>API Key</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for api_request in api_requests %}
                            <tr>
                                <td class="text-center">
                                    {% if '40' in api_request.status %}
                                        <span class="badge badge-warning request-status">{{ api_request.status }}</span>
                                    {% elif '200' in api_request.status %}
                                        <span class="badge badge-success request-status">{{ api_request.status }}</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <span class="badge resource-type-bg-{{ api_request.type }} text-white">{{ api_request.type }}</span>
                                </td>
                                <td>
                                    {{ api_request.api_key.key }}
                                </td>
                                <td>
                                    {{ api_request.date }}
                                </td>
                                <td>
                                    <a href="/request/{{ api_request.id }}" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Project {{ project.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        All endpoints, triggers and any other information associated with this project will be deleted.<br/>
                        Please be sure that you want to delete this project.
                        <br/><br/>
                        <a href="/project/delete/{{ project.id }}" class="btn btn-danger btn-block">I understand, Delete this Project</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% include 'core/footer.html' %}
    </div>
{% endblock %}