{% extends 'core/nav-bar.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Load the util template tags #}
{% load util %}

{# Set the title and background color for the base.html file. #}
{% block title %}View Request{% endblock %}

{% block page-content %}
    <div class="page-content">
        <h2 class="title-name">{{ project.name }} </h2>
        <p class="title-description">
            {{ project.description }}
            {% if project.type == 'public' %}
                <span class="badge badge-light"><i class="fa fa-users"></i> Public</span>
            {% else %}
                <span class="badge badge-light"><i class="fa fa-lock"></i> Private</span>
            {% endif %}
        </p>
        <div class="float-left">
            <h2><i class="fas fa-caret-right" aria-hidden="true"></i> Requests to Resource: {{ api_request.resource }} <small>- {{ api_request.date }}</small></h2>
        </div>
        <div class="inner-page-content">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div class="card card-no-top-radius">
                <div class="card-body">
                    <div class="float-right">
                        <h5><span class="badge resource-type-bg-{{ api_request.type }} text-white">{{ api_request.type }}</span></h5>
                    </div>
                    <h5>Summary</h5>
                    <hr/>
                    <dl class="row">
                        <dt class="col-sm-3">ID</dt>
                        <dd class="col-sm-9">{{ api_request.id }}</dd>

                        <dt class="col-sm-3">Status</dt>
                        <dd class="col-sm-9">
                            {% if '40' in api_request.status %}
                                <span class="badge badge-warning request-status">{{ api_request.get_status_display }}</span>
                            {% elif '200' in api_request.status %}
                                <span class="badge badge-success request-status">{{ api_request.get_status_display }}</span>
                            {% endif %}
                        </dd>

                        <dt class="col-sm-3">Resource</dt>
                        <dd class="col-sm-9">{{ api_request.resource }}</dd>

                        <dt class="col-sm-3">Type</dt>
                        <dd class="col-sm-9">{{ api_request.type }}</dd>

                        <dt class="col-sm-3">IP Address</dt>
                        <dd class="col-sm-9">{{ api_request.ip_address }}</dd>

                        <dt class="col-sm-3">Country</dt>
                        <dd class="col-sm-9">{% if country %}<span class="flag-icon flag-icon-{{ country.country_code|lower }}"></span> {{ country.country_name }}{% else %}n/a{% endif %}</dd>

                        <dt class="col-sm-3">Date</dt>
                        <dd class="col-sm-9">{{ api_request.date }}</dd>

                        <dt class="col-sm-3">Source</dt>
                        <dd class="col-sm-9">{{ api_request.source }}</dd>

                        <dt class="col-sm-3">Authenticated With</dt>
                        <dd class="col-sm-9">{{ api_request.get_authentication_type_display }}</dd>

                        <dt class="col-sm-3">Cached Result</dt>
                        <dd class="col-md-9">{% if api_request.cached_result %}<span class="badge badge-primary">Yes</span>{% else %}<span class="badge badge-secondary">No</span>{% endif %}</dd>

                        {% if api_request.authentication_type == 'KEY' %}
                            <dt class="col-sm-3">API Key</dt>
                            <dd class="col-sm-9">{{ api_request.api_key.key }}</dd>
                        {% endif %}
                    </dl>
                    {% if '4' in api_request.status %}
                        <div class="bottom-padding">
                            <div class="float-right">
                                <i class="fa fa-question" data-container="body" data-toggle="popover" data-placement="left" data-content="This is the error that was sent back to the client when they made this request."></i>
                            </div>
                            <strong>Generated Error:</strong>
                        </div>
                        <pre><code class="json" id="response">{{ api_request.response_to_user|pretty_json }}</code></pre>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Project {{ project.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        All endpoints, triggers and any other information associated with this project will be deleted.<br/>
                        Please be sure that you want to delete this project.
                        <br/><br/>
                        <a href="/project/delete/{{ project.id }}" class="btn btn-danger btn-block">I understand, Delete this Project</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% include 'core/footer.html' %}
    </div>

{% endblock %}