{% extends 'core/nav-bar.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Set the title and background color for the base.html file. #}
{% block title %}RESTBroker - View Request{% endblock %}

{% block page-content %}
    <div class="page-content">
        <h2 class="title-name">{{ project.name }} </h2>
        <p class="title-description">
            {{ project.description }}
            {% if project.type == 'public' %}
                <span class="badge badge-light"><i class="fa fa-users"></i> Public</span>
            {% else %}
                <span class="badge badge-light"><i class="fa fa-lock"></i> Private</span>
            {% endif %}
        </p>
        <div class="float-right">
            <a href="/project/edit/{{ project.id }}" class="btn btn-light btn-sm">Edit Project</a>&nbsp;
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteProject">
                Delete Project
            </button>
        </div>
        <div class="inner-page-content">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            {% include 'core/project-nav-bar.html' with page='statistics' %}

            <div class="card card-no-top-radius">
                <div class="card-body">
                    <h5 class="form-instruction">Requests to Resource: {{ api_request.resource }}<br/><small>{{ api_request.date }}</small></h5>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th scope="row">ID</th>
                            <td>{{ api_request.id }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Status</th>
                            <td>
                                {% if '40' in api_request.status %}
                                    <span class="badge badge-warning request-status">{{ api_request.get_status_display }}</span>
                                {% elif '200' in api_request.status %}
                                    <span class="badge badge-success request-status">{{ api_request.get_status_display }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Resource</th>
                            <td>{{ api_request.resource }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Type</th>
                            <td>{{ api_request.type }}</td>
                        </tr>
                        <tr>
                            <th scope="row">IP Address</th>
                            <td>{{ api_request.ip_address }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Date</th>
                            <td>{{ api_request.date }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Source</th>
                            <td>{{ api_request.source }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Authenticated With</th>
                            <td>{{ api_request.get_authentication_type_display }}</td>
                        </tr>
                        {% if api_request.authentication_type == 'KEY' %}
                            <tr>
                                <th scope="row">API Key</th>
                                <td>{{ api_request.api_key.key }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Project {{ project.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        All endpoints, triggers and any other information associated with this project will be deleted.<br/>
                        Please be sure that you want to delete this project.
                        <br/><br/>
                        <a href="/project/delete/{{ project.id }}" class="btn btn-danger btn-block">I understand, Delete this Project</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slant-end">
        <svg x="0" y="0" viewBox="0 0 2560 200" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-back" points="2560 0 2560 300 0 200"></polygon>
        </svg>
    </div>
    <div class="other-half">
        <div class="container">
            {% include 'core/footer.html' %}
        </div>
    </div>
{% endblock %}