{% extends 'core/nav-bar.html' %}

{# Load static templating tag to be able to use it to get paths to static files #}
{% load static %}

{# Set the title and background color for the base.html file. #}
{% block title %}RESTBroker - View Resource{% endblock %}

{% block page-content %}
    <div class="page-content">
        <h2 class="title-name">{{ project.name }} </h2>
        <p class="title-description">
            {{ project.description }}
            {% if project.type == 'public' %}
                <span class="badge badge-light"><i class="fa fa-users"></i> Public</span>
            {% else %}
                <span class="badge badge-light"><i class="fa fa-lock"></i> Private</span>
            {% endif %}
        </p>
        <div class="float-left">
            <a href="{% url 'resources' %}" class="btn btn-light btn-sm"><i class="fa fa-arrow-left"></i> Back to Resources</a>
        </div>
        <div class="inner-page-content">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            {# If the database has been built. If not then say it needs to be built #}
            {% if project.database_built %}

                <div class="card">
                    <div class="card-header resource-{{ resource.request_type }}" style="border-bottom: none;">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="card resource-type-bg-{{ resource.request_type }} text-center">
                                    <div class="card-body resource-margin-padding">
                                        <h2 class="resource-name">{{ resource.request_type }}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 text-left">
                                {{ resource.name }}<br/>
                                <small>{{ resource.description }}</small>
                            </div>
                            <div class="col-md-1">
                                {% if resource.status %}
                                    <div class="dot on my-auto" data-toggle="tooltip" data-placement="top" title="On"></div>
                                {% else %}
                                    <div class="dot off" data-toggle="tooltip" data-placement="top" title="Off"></div>
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                <div class="float-right">
                                    <a href="/resource/status/{{ resource.id }}" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Power"><i class="fa fa-power-off"></i></a>
                                    <a href="" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pen"></i></a>
                                    <span data-toggle="modal" data-target="#delete_resource_{{ resource.id }}">
                                                        <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete" data-target='#delete_resource_{{ resource.id }}'><i class="fa fa-trash"></i></button>
                                                    </span>
                                    <a href="/resource/{{ resource.id }}/requests" data-toggle="tooltip" data-placement="top" title="View Requests" class="btn btn-secondary"><i class="fas fa-exchange-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-upload"></i> Request</h5>
                                        <p class="form-instruction">Headers</p>
                                        {% if resource_headers %}
                                            <table class="table table-striped table-sm">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Key</th>
                                                    <th scope="col">Value</th>
                                                    <th scope="col">Description</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for header in resource_headers %}
                                                    <tr>
                                                        <td>{{ header.key }}</td>
                                                        <td>{{ header.value }}</td>
                                                        <td>{{ header.description }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            None<br/><br/>
                                        {% endif %}

                                        {# If its a GET method, show the parameters #}
                                        {% if resource.request_type == 'GET' %}
                                            <p class="form-instruction">Parameters</p>
                                            {% if resource_parameters %}
                                                <table class="table table-striped table-sm">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">Key</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for parameter in resource_parameters %}
                                                        <tr>
                                                            <td>{{ parameter.type }}</td>
                                                            <td>{{ parameter.key }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% else %}
                                                None<br/><br/>
                                            {% endif %}
                                        {% endif %}

                                        {# If its a POST method, show the data binding #}
                                        {% if resource.request_type == 'POST' %}
                                            <p class="form-instruction">Data Binding</p>
                                            {% if data_binds %}
                                                <table class="table table-striped table-sm">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Column</th>
                                                        <th scope="col">Key</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for data_bind in data_binds %}
                                                        <tr>
                                                            <td>{{ data_bind.column.name }}</td>
                                                            <td>{{ data_bind.key }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% else %}
                                                None <br/><br/>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-download"></i> Response</h5>

                                        <pre><code class="json" id="response">{{ response_structure }}

                                                </code></pre>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="bottom-padding"><strong>Requests to this Resource</strong></div>
                                <div>
                                    <canvas id="requestsThisWeekColoured" width="400" height="150"></canvas>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="bottom-padding"><strong>Requests Types</strong></div>
                                <div>
                                    <div id="request_types" class="ct-chart ct-perfect-fourth"></div>
                                </div>
                            </div>
                        </div>

                    </div>

            {% else %}
                <div class="card">
                    <div class="card">
                        <div class="card-header">Resources</div>
                        <div class="card-body">
                            <div class="text-center">
                                <h1><i class="fa fa-database" aria-hidden="true"></i></h1>
                                <h3>Database has not been built<br/><small class="subtext">Before creating resources, RESTBroker needs to contact your database and build a schema.</small></h3>
                                <a href="/build-database/{{ project.id }}" class="btn btn-success">Build Database</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
        <div class="modal fade" id="delete_resource_{{ resource.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content text-left">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Resource {{ resource.name }} <small>/{{ resource.resource_url }}</small></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        All triggers and any other information associated with this resource will be deleted.<br/>
                        Please be sure that you want to delete this resource.
                        <br/><br/>
                        <a href="/resource/delete/{{ resource.id }}" class="btn btn-danger btn-block">I understand, Delete this Resource</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="changeResourceStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            You are about to turn this resource{% if resource.status %} off {% else %} on {% endif %}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if resource.status %}
                            By turning this resource off, it will not longer be able to accept incoming requests. It will still be saved and can
                            be turned back on at anytime.
                        {% else %}
                            By turning this resource on, it will be opened up to incoming requests from authorised users. It can be turned off at
                            anytime.
                        {% endif %}
                        <br/><br/>
                        {% if resource.status %}
                            <a href="/resource/status/{{ resource.id }}" class="btn btn-danger btn-block">I understand, Turn this Resource Off</a>
                        {% else %}
                            <a href="/resource/status/{{ resource.id }}" class="btn btn-success btn-block">I understand, Turn this Resource On</a>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Project {{ project.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        All resources, triggers and any other information associated with this project will be deleted.<br/>
                        Please be sure that you want to delete this project.
                        <br/><br/>
                        <a href="/project/delete/{{ project.id }}" class="btn btn-danger btn-block">I understand, Delete this Project</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% include 'core/footer.html' %}
    </div>
{% endblock %}