/* RESTBroker Core CSS File
   Created By: Mark Barrett
*/
html {
    height: 100%;
    overflow: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    overflow: auto;
}

.main-background {
    background-color: #FFFFFF;
}

.secondary-background {
    background-color: #3853AF;
    /* <!-- #3853AF --> */
}

.home-content {
    padding-top: 80px;
}

.logo {
    width: 200px;
    padding-top: 20px;
}

.main-title {
    font-size: 70px;
    color: white;
}

.btn-success {
    background-color: #29C761;
}

.btn-secondary {
    background-color: #D3D3D3;
    border-color: #D3D3D3;
}

.footer {
    padding-top: 20px;
    padding-left: 7px;
    padding-right: 7px;
}

.sidebar-wrapper {
    padding: 0px;
    flex: 1;
}

.page-wrapper {
    padding-left: 0px;
    overflow-y: scroll;
    float:left;
    width:50%;
    height:calc(100vh);
}

.sidebar-brand {
    padding: 10px;
    text-align: center;
}

.sidebar {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    padding-left: 20px;
}

.sidebar .nav-item .nav-link {
    padding: 15px;
    color: #808080;
    font-size: 15px;
    padding-top: 10px;
    margin-top: 3px;
    padding-bottom: 10px;
}

.nav-item i {
    font-size: 20px;
    padding-right: 10px;
    color: #29C761;
}

.active {
    border-left: 4px solid #29C761;
}

.sidebar .nav-item .nav-link:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #4d4d4d;
}

.green-primary {
    color: #29C761;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #29C761 !important;
}

.custom-control-input:active~.custom-control-label::before{
    background-color: #34C464;
}

.separator {
    border-top: 1px solid rgba(0, 0, 0, .1);
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    color: #808080;
    text-transform: uppercase;
    font-weight: bold;
}

.text-muted {
    color: #8898aa !important;
}

.nav-crumb {
    color: #FFFFFF;
}

.login-dropdown {
    padding-top: 20px;
    padding-right: 20px;
}

.nav-link {
    color: white;
}

.card-no-top-radius {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: none;
}

.card-not-top-radius-with-border {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.nav-pills-active {
    background-color: #FFFFFF;
    color: #808080;
    border-top: 8px solid  #49d076;
    border-top-left-radius: 5px;
}

.nav-pills-active:hover {
    color: #2FC663;
}

.nav-pills-hover:hover {
    background-color: #49d076;
    transition: all .4s ease;
    color: white;
}

.form-instruction {
    color: #8898aa;
    text-transform: uppercase;
    font-weight: bold;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

.nav-link {
    border-radius: 0px !important;
}

.asteriskField {
    display: none;
}

.collapse-data-link {
    color: #29C761;
}

.collapse-data-link:hover {
    color: #808080;
    text-decoration: none;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #ffffff;
    color: #29C761;
}

.dropdown-item:active:hover {
    background-color: white;
    color: #29C761;
}

.page-content {
    padding: 20px;
    background: linear-gradient(87deg, #34C464 0, #29C761 100%) !important;
    height: 400px;
}

.inner-page-content {
    padding-top: 50px;
}

.slant-end {
    margin-top: -85px;
}

.fill-back {
    fill: #F8F9FE;
}

.page-content h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
}

.account-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

.account-subtitle {
    color: white;
}

.stat-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #808080;
    margin-bottom: 0px;
}

.stat-icon-blue {
    background-color: #12CDEF;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 35px;
    color: #FFFFFF;
    border-radius: 20px;
}

.stat-icon-orange {
    background-color: #FA6340;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 35px;
    color: #FFFFFF;
    border-radius: 20px;
}

.stat-icon-yellow {
    background-color: #FFD500;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 35px;
    color: #FFFFFF;
    border-radius: 20px;
}

.stat-value {
    font-size: 30px;
    color: #29C761;
    margin-bottom: 0px;
}

.stat-subtitle {
    margin: 0px;
    font-size: 10px;
}

.green {
    color: #29C761;
}

.red {
    color: #FF0000;
}

.blue {
    color: #12CDEF;
}

.request {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    height: 80px;
    line-height: 80px;
    font-size: 45px;
    text-align: center;
}

.request-post {
    background-color: #1C7CD5;
}

.request-get {
    background-color: #F0AD4E;
}

.request-put {
    background-color: #D9534F;
}

.resource-information {
    padding-top: 10px;
}

.larger-font {
    font-size: 45px;
}

.resource {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: left;
}

.resource-GET {
    color: black;
    background-color: #d1ecf1;
    border-color: #17a2b8;
}

.resource-POST {
    color: black;
    background-color: #ECFAF4;
    border-color: #49CC90;
}

.resource-DELETE {
    color: black;
    background-color: #FEEBEB;
    border-color: #F93E3E;
}

.resource-type-bg-GET {
    background-color: #17a2b8!important;
}

.resource-type-bg-POST {
    background-color: #49CC90!important;
}

.resource-type-bg-DELETE {
    background-color: #F93E3E!important;
}

.manage-resource {
    height: 70px;
    line-height: 70px;
    text-align: right;
}

.dropdown-item:active {
    background-color: #29C761;
}

.title-name {
    margin-bottom: 0px;
}

.title-description {
    font-size: 15px;
    color: #ffffff;
    padding-top: 0px;
}

.other-half {
    background-color: #F8F9FE;
    height: 100%;
}

.iconDetails {
    margin-left:2%;
    float:left;
    height:50px;
    width:50px;
}

.container2 {
    width:100%;
    height:auto;
    padding:1%;
}

.inside-padding {
    padding-left: 10px;
    padding-right: 10px;
}

.btn-default {
    color: #29C761;
}

.btn-default:hover {
    color: black;
}

.subtext {
    font-size: 20px;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.building-database {
    position: absolute;
    top: 40%; left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.resource-margin-padding {
    padding: 5px;
    margin: 0px;
}

.vertical-align-middle {
    display:inline-block;
    vertical-align:middle;
    line-height:1.25em;
}

.resource-name {
    font-size: 2.3vw !important;
    padding: 0px;
    margin: 0px;
}

.database-option-info {
    padding-left: 0px;
    padding-top: 10px;
}

.database-option-image {
    padding-right: 0px;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    transform: translate(0%,90%);
}

.on {
    background-color: #2DC662
}

.off {
    background-color: #FF0000;
}

.status-dot {
    display: table-cell;
    vertical-align: middle;
}

.response-type {
    transform: translate(0%, 20%);
}

.login-left {
    padding-left: 50px;
}

.login-right {
    background-color: #FFFFFF;
    padding: 50px;
    position: relative;
}

.login-form {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 40px;
}

.main-caption {
    color: white;
    font-weight: bold;
    padding-top: 100px;
    font-size: 50px;
}

.sub-caption {
    color: white;
    font-size: 20px;
}

.login-footer {
    position:absolute;
    left:0;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    bottom:0;
    color: white;
}

.badge-warning {
    color: white;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    font-weight: bold;
    background-color: #2FC663;
    border: 1px solid rgba(0,0,0,.125);
}

.request-status {
    font-size: 15px;
}

.column_tool {
    display: inline;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-danger, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-danger:active, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-danger:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-danger:hover, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-dark, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-dark:active, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-dark:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-dark:hover, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info:active, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info:hover, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary:active, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary:hover, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-secondary, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-secondary:active, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-secondary:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-secondary:hover, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-success, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-success:active, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-success:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder.btn-success:hover {
    color: white !important;
}

.select-project {
    margin-bottom: 1rem;
}

.change-project-dropdown {
    padding-bottom: 10px;
}

.bottom-padding {
    padding-bottom: 10px;
}

.add-project-card-link {
    color: #2DC662;
}

.add-project-card-link:hover {
    text-decoration: none;
    color: #25a351
}

.active-project {
    background-color: #2DC662;
    color: #fff;
}

.page-title {
    margin-bottom: 20px;
}

.page-item.active .page-link {
    background-color: #2DC662;
    border-color: #2DC662;
}

.disabled-setting {
    opacity: 0.5;
    pointer-events: none;
}

.colour-picker {
    width: 25%;
    height: 30px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
}

.list-group-item.no-bottom-padding {
    padding-bottom: 0px;
}

.hljs {
    border-radius: 5px;
}

.ace_editor {
    border-radius: 5px;
}

.round-table-corners {
    border-radius: 10px;
}

.table-row-no-top-border {
    border-top: none !important;
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}

.green {
    fill: #2FC663 !important;
}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
    stroke: #2FC663 !important;
}


.ct-series-a .ct-line {
    stroke: #4BCB76 !important;
    stroke-width: 5px;
}

.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a {
    fill: #4BCB76 !important;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes show {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.feature-one {
    text-align: center;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s, 1s ease-out 0s 1 slideUp, 1s show;
}

.feature-two {
    text-align: center;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s, 2s ease-out 0s 1 slideUp;
}

.feature-three {
    text-align: center;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s, 3s ease-out 0s 1 slideUp;
}

.main-buttons {
    text-align: center;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s, 3s ease-out 0s 1 slideUp;
}

.nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (min-width: 640px) {
    .login-sign-up-nav {
        padding-right: 3%;
    }
}

.terminal-window {
    background-color: #151515;
    height: 300px;
    border-radius: 10px;
}

.terminal-content {
    font-family: monospace;
    color: #FFFFFF;
    padding: 10px;
    font-size: 15px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.terminal-content-response {
    font-family: monospace;
    color: #FFFFFF;
    padding: 10px;
    font-size: 15px;
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
    animation-delay: 4.5s;
}

.terminal-top-bar {
    background-color: #BBBBBB;
    height: 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
}

.terminal-close-button {
    background-color: #FF3B47;
    display: table;
    float: left;
    height: 12px;
    width: 12px;
    margin-left: 10px;
    text-align: center;
    font-size: 8px;
    border-radius: 6px;
    color: #BBBBBB;
}

.terminal-minimise-button {
    background-color: #FEC101;
    display: table;
    float: left;
    height: 12px;
    width: 12px;
    margin-left: 10px;
    padding-top: 10px;
    border-radius: 6px;
}

.terminal-expand-button {
    background-color: #00D541;
    float: left;
    height: 12px;
    width: 12px;
    margin-left: 10px;
    border-radius: 6px;
}

.main-feature-content {
    border-radius: 0px;
    border: none;
}

.feature-card {
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.soft-green {
    color: #4DBC8C;
}

.main-stat-title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0px;
}

.main-stat-value-blue {
    color: #12CDEF;
    margin-bottom: 0px;
    font-size: 35px;
}

.main-stat-value-orange {
    color: #F96340;
    margin-bottom: 0px;
    font-size: 35px;
}

.main-stat-value-yellow {
    color: #FFD400;
    margin-bottom: 0px;
    font-size: 35px;
}

.view-stat-link {
    margin-bottom: 0px;
    font-size: 10px;
    text-decoration: underline;
    font-weight: bold;
}

.stat-card {
    border-radius: .375rem;
    -webkit-box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    box-shadow: 0 0px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    border: none;
}

.card {
    border-radius: .375rem;
    -webkit-box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    box-shadow: 0 0px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    border: none;
}

.alert {
    border-radius: .375rem;
    -webkit-box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    box-shadow: 0 0px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    border: none;
}

.stat-graph-card {
    border-radius: .375rem;
    background-color: #2DC662;
    -webkit-box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    box-shadow: 0 0px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    border: none;
}

.view-stat-link > a {
    color: #2EC663;
}

.inner-chart-title {
    font-size: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

.most-popular-request-type {
    font-size: 15px;
}

.to-icon {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.less-top-margin {
    padding-top: 10px;
}

.statistic-selector-title {
    padding-bottom: 10px;
    font-weight: bold;
}

.list-group-item a {
    color: #424548;
}

.active-li {
    color: white;
}

body {
    overflow-x: hidden
}

.table-card {
    border-radius: .375rem;
    -webkit-box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    box-shadow: 0 0px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    border: none;
    padding: 0px;

}

.table-card .card-body {
    padding: 0;
    margin-bottom: 0px;
}

.table-card table {
    margin-bottom: 0px;
}